<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.app.infra.member.MemberMapper">

	<resultMap id="resultMapObj" type="com.mycompany.app.infra.member.Member"></resultMap>
	
	<sql id="userName">
    	(SELECT
			IF(userInfo.userMiddleName = ""
		    ,CONCAT(userFirstName, userLastName)
		    ,CONCAT(userFirstName, " ", userMiddleName, " ", userLastName)))
		 AS userName
    </sql>
    
    <sql id="userDob">
    	(SELECT
    		CONCAT(userDobYear, userDobMonth, userDobDate))
    	AS userDob
    </sql>
    
    <sql id="userInfoMin">
    	seq
		,userEmail
		,userPassword
		,userNickname
		,userCountry
		,<include refid="userName" />
		,<include refid="userDob" />
		,userGender
		,userCodeName
    </sql>
    
    <sql id="userInfo">
	    userEmail
	    , userPassword
	    , userNickname
	    , userCountry
	    , userFirstName
	    , userMiddleName
	    , userLastName
	    , userDobYear
	    , userDobMonth
	    , userDobDate
	    , userGender
	    , userCodeName
    </sql>
    
    <select id="selectListUserInfo" resultMap="resultMapObj">
    	SELECT
			<include refid="userInfo" />
		FROM
			userInfo
		WHERE 1=1
    </select>
    
    <select id="selectOneUserInfo" resultMap="resultMapObj">
    	SELECT
			<include refid="userInfo" />
    	FROM
    		userInfo
    	WHERE 1=1
    		AND seq = #{seq}
    </select>
    
    <insert id="insertUserInfo">
    INSERT INTO userInfo (
    	<include refid="userInfo" />
    ) values (
 		#{userEmail}
	    , #{userPassword}
	    , #{userNickname}
	    , #{userCountry}
	    , #{userFirstName}
	    , #{userMiddleName}
	    , #{userLastName}
	    , #{userDobYear}
	    , #{userDobMonth}
	    , #{userDobDate}
	    , #{userGender}
	    , #{userCodeName}
    ) 
    </insert>

</mapper>